# Dataset (Roboflow export)
dataset/

# Ultralytics outputs / runs
runs/

# Jupyter / Python junk
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
